
.bottom-password:active{
    transform: scale(.99);
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
  }

#password-modal{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myP, .bottom-password{
    margin: 0%;
    margin-top: 15%;
    margin-left: 30px;
}
#generate-a{
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: black   ;
}
#random-pass{
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-top: 5px;
    letter-spacing: -0.025em;
    color:#10B981;
}
#third-p{
    font-weight: 800px;
    line-height: 40px;
    font-family: Inter;
    font-style: normal;
    margin-top: 2px;
    font-size: 20px;
    letter-spacing: -0.025em;
    color: #6B7280;
}
.bottom-password{
    margin-top: 20px;
    background-color: #10B981;
    border-radius: 6px;
    width: 223px;
    height: 42px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
.center-password-modal{
    width: 550px;
    height: 550px;
    border-radius: 5px;
    background: #ECFDF5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.5s cubic-bezier(.25,.8,.25,1);
    
}
.center-password-modal:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.myHr{
    border: 0px solid #2F3E53;
    width: 490px;
    height: 0px;
}
.bottom-modal{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}
.align-button-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.top-password{
    width: 100%;
}
.password-button-modal{
    margin: 20px;
    margin-left: 30px;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    color: #55F991;
    cursor: pointer;
    font-weight: 800px;
    line-height: 40px;
    animation: animate ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes animate {
    0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
   }
#one, #two, #three, #four{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.animation3{
    animation: animate ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes animate {
    0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
   }
.animation4{
    animation: animate2 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes animate2 {
    0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
   }
.slider{
    height: 42px;
    display: flex;
    align-items: center;
    width: 270px;
    padding-left: 20px;
    box-sizing: border-box;
}
.slider-button{
    padding-top: 20px;
    padding-bottom: 10px;
    
    display: flex;
    align-items: center;
}
.slider-value{
    font-size: 25px;
    padding-left: 20px;
    font-family: Inter;
    color: black;
}
.thunder-logo{
    margin-right: -30px;
}
.pass {
    position: relative;
  }
.pass .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 70%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .pass .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .pass:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  @media only screen and (max-width: 1000px) {
    #generate-a{
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
    }
    #random-pass{
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        margin-top: 3px;
    }
    #third-p{
        font-weight: 600px;
        line-height: 20px;
        font-size: 12px;
    }
    .bottom-password{
        margin-top: 15px;
        border-radius: 5px;
        width: 170px;
        height: 32px;
    }
    .center-password-modal{
        width: 430px;
        height: 430px;
        border-radius: 5px;
    }
    .myHr{
        border: 1px solid #2F3E53;
        width: 390px;
        height: 0px;
    }
    .password-button-modal{
        margin: 15px;
        margin-left: 20px;
        width: 180px;
        height: 34px;
        border-radius: 5px;
        
    }
    #one, #two, #three, #four{
        font-weight: 500;
        font-size: 13px;
        font-weight: 600px;
        line-height: 35px;
    }
    .slider{
        height: 42px;
        width: 200px;
        padding-left: 17px;
    }
    .slider-value{
        font-size: 18px;
        padding-left: 18px;
    }
    .pass .tooltiptext {left: 75%;}
    .bottom-modal{
        margin-left: -5px;
    }
  }